<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-conekta" version="0.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>cordova-plugin-conekta</name>
    <js-module name="conekta" src="www/CordovaConekta.js">
        <clobbers target="cordova.plugins.conekta" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaConekta">
                <param name="android-package" value="com.nwrman.cordova.conekta.CordovaConekta" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <uses-library android:name="org.apache.http.legacy" android:required="false" />
        </config-file>
        <framework custom="true" src="src/android/conekta.gradle" type="gradleReference" />

        <source-file src="src/android/CordovaConekta.java" target-dir="src/com/nwrman/cordova/conekta" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaConekta">
                <param name="ios-package" value="CordovaConekta" />
            </feature>
        </config-file>

        <!-- Plugin implementation -->
        <header-file src="src/ios/CordovaConekta.h" />
        <source-file src="src/ios/CordovaConekta.m" />

         <!-- Conekta library -->
        <header-file src="src/ios/Conekta/Card.h" />
        <source-file src="src/ios/Conekta/Card.m" />
        <header-file src="src/ios/Conekta/Conekta.h" />
        <source-file src="src/ios/Conekta/Conekta.m" />
        <header-file src="src/ios/Conekta/Connection.h" />
        <source-file src="src/ios/Conekta/Connection.m" />
        <header-file src="src/ios/Conekta/Token.h" />
        <source-file src="src/ios/Conekta/Token.m" />

    </platform>
</plugin>
